<div class="container-fluid p-0">
  <div class="row m-0" id="body-row">





    <div id="contents" class="col justify-content-center" style="display: table-cell;vertical-align: middle;" valign="middle">

      <div class="row d-flex  align-content-center flex-wrap m-5">
        <div class="offset-md-4 offset-lg-4 col-sm-12 col-md-4 col-lg-4">
          <div id="login-container" class="align-self-center p-4">


              <div>
                <h4>Sign In</h4>
                <p>Welcome back to Mirafra DevOps,</p>
                <p>Please login to continue your works!</p>

              </div>
              <form class="pr-2 pl-2" #LofinForm="ngForm" (ngSubmit)="login(LofinForm.value)">

                  <div class=" form-group">
                    <label for="email"><b>Email Address</b></label>
                    <input ngModel type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" id="email" class="form-control no-border" type="text" placeholder="Enter Email" name="email" required>

                    <label for="password"><b>Password</b></label>
                    <input ngModel id="password" type="password"  class="form-control" type="password" placeholder="Enter Password" name="password" required>




                  <div class="align-content-center" align="center">
                    <p class="psw mt-1">Forgot <a [routerLink]="['/forgotPassword']"  href="javascript:void(0)">password?</a></p>
                    <input class="btn btn-danger" [disabled]="!LofinForm.form.valid" type="submit" value="Sign In">
                    <div>New User <a [routerLink]="['/signup']" >Sign Up</a></div>


                  </div>

                  </div>


              </form>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
