<div class="container-fluid p-0">
  <app-nav></app-nav>
  <div class="row m-0" id="body-row">





    <div id="contents" class="col justify-content-center" style="display: table-cell;vertical-align: middle;" valign="middle">

      <div class="row d-flex  align-content-center flex-wrap">
        <div class="offset-md-3 col-md-6 ">
          <div id="login-container " class="align-self-center m-5">


              <div>
                <h4>Change Password</h4>
                <p>Welcome back to Mirafra DevOps,</p>
                <p>Please Set your password to continue your works!</p>

              </div>
              <form #ChangePassForm="ngForm" (ngSubmit)="setPassword(ChangePassForm.value)">

                  <div class=" form-group">
                    <label for="password1"><b>Enter Password</b></label>
                    <input ngModel id="password1" type="password" class="form-control no-border" type="text" placeholder="Enter Password" name="password1" required>

                    <label for="password2"><b>Confirm Password</b></label>
                    <input ngModel id="password2" type="password"  class="form-control" type="password" placeholder="Confirm Password" name="password2" required>




                  <div class="align-content-center" align="center">
                    <input class="btn btn-danger btn-lg" type="submit" value="Set Password">
                    <div>Go To <a [routerLink]="['/login']" >Login</a></div>


                  </div>

                  </div>


              </form>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

