<div id="main-container" class="container-fluid p-0">
  <app-nav></app-nav>
  <div class="row m-0" id="body-row">

 <app-sidebar></app-sidebar>



    <div id="contents" class="col justify-content-center" style="display: table-cell;vertical-align: middle; font-size:12px;" valign="middle">

      <div class="row d-flex  align-content-center flex-wrap">
        <div class="col" style="height:100%;">
          <div class="d-flex justify-content-between ml-5 mt-1">


            <h5><a class="pr-4" [routerLink]="['/product']" style="right"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>Mirafra Product</h5>
            <div>
              <button class="btn btn-primary" [routerLink]="['/product']">Cancel</button>
              <button class="btn btn-danger ml-2 mr-2"  form="AddProductForm" (click)="addNewProduct(AddProductForm.value)"  [disabled]="!AddProductForm.form.valid">Save</button>
            </div>

          </div>

         <div class="align-self-center ml-4 m-1 mt-0 mr-4" style="height:80vh;">
           <div class="pt-2 custom-scroll-2" style="height:100%!important;box-shadow: 2px 0px 10px 1px #e2e2e2;overflow-y:scroll;height:80vh;">
             <div   class="col-md-12 col-lg-9 col-sm-12 ml-3 mt-2" >
              <form #AddProductForm="ngForm" enctype="multipart/form-data">
                <div class="" >
                <label class="label" style="color: #d50000;">Branch Selection</label>
                <div class="btn-group btn-group-toggle ml-0 mr-2 mt-2 mb-2" style="display:block!important;" >
                  <label class=" mr-4">
                    <input ngModel name="branch_category" class="" (change)="branchTypeChange($event.target.value)" value="Master" type="radio" id="option1" autocomplete="off" checked> Master
                  </label>
                  <label class="">
                    <input ngModel name="branch_category" class="" (change)="branchTypeChange($event.target.value)" value="Child" type="radio"  id="option2" autocomplete="off"> Child
                  </label>
                </div>
                <label class="label " style="color: #d50000;">Product Information</label>
                <input hidden [(ngModel)]="user" name="owner" type="text" class="form-control"  value="{{user}}">
                  <div class="d-flex">

                    <div class="form-group mr-3">
                      <label for="product-type">Product Type</label>
                      <input required [(ngModel)]="product_details.product_type" name="product_type" type="text" class="form-control" id="product-type"  value="{{product_details.product_type | titlecase}}">
                    </div>
                    <div class="form-group">
                      <label for="product-name">Product Name</label>
                      <input required [(ngModel)]="product_details.product_name" name="product_name" type="text" class="form-control" id="product-name"  value="{{product_details.product_name | titlecase}}">
                    </div>
                    <div class="form-group">
                      <label for="product-image">Product Image</label>
                      <input required [(ngModel)]="image" (change)="onchangeImage($event)" name="image" type="file" class="form-control" id="product-image"  >
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="product-description">Product Description</label>
                    <input required [(ngModel)]="product_details.description" name="description" type="text" class="form-control" id="product-description" value="{{product_details.description}}">
                  </div>
                  <label class="label" style="color: #d50000;">Branch Configs</label>
                  <div class="form-group">
                    <label for="ap-path">AP Path</label>
                    <input required [(ngModel)]="product_details.ap_path" name="ap_path" type="text" class="form-control" id="ap-path"  value="{{product_details.ap_path }}">
                  </div>
                  <div class="form-group">
                    <label for="cp-path">CP Path</label>
                    <input required [(ngModel)]="product_details.cp_path"  name="cp_path" type="text" class="form-control" id="cp-path" value="{{product_details.cp_path}}">
                  </div>
              </div>
              </form>

              <div  class="">
                <div class="mt-4">
                <label class="label" style="color: #d50000;">Associated Groups {{selectedGroupsToAdd.length}}</label>
                <div class="pull-right">
                <a class=""  style="color: #cbcbcb;">REMOVE GROUP</a>
                <a class=" ml-5" style="color: #d50000;">ADD GROUP</a>
                </div>
                </div>
                <div class="">
                  <ul class="list-group user-group-list">
                  <li class="list-group-item pl-5 align-middle" *ngFor="let group of selectedGroupsToAdd; let i = index">
                    <div class="d-flex">
                    <input class="form-check-input pl-5 align-self-center" type="checkbox" name="options" id="option3" >
                    <i style="font-size: 14px!important;color: gray; " class="fa fa-circle-o ml-2 mr-2 mt-4 pt-1" aria-hidden="true"></i>
                    <div *ngIf="selectedGroupsToAdd?.length >0"  class="col pl-5">
                      <label  class="col" style="font-size: 15px;">{{group.group_name | titlecase }}</label>
                      <label  class="col" style="margin-top:-20px!important;font-size: 10px;">Members {{group.ass_emps.length}}</label>
                    </div>
                    </div>
                  </li>
                  </ul>

                </div>
              </div>
               <div>

               </div>

               </div>
          <div *ngIf="!selectedGroupsToAdd?.length >0" class="p-2 d-flex justify-content-center">

           <div class="align-content-center" align="center">
             <i class="fa fa-users fa-5x" width="100" height="35"></i>
             <h3 >Add Group</h3>
             <p>No Groups added to Project.</p>
            <button class="btn btn-danger" data-toggle="modal" data-target="#innermodel">Add Groups</button>

            </div>


          </div>

             <!-- Modal Add Group-->
             <div class="modal fade" id="innermodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="AddGroupsModal">Available Groups</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
<!--                              <button *ngIf="!dropdownClosed"  id="hide-dropdown" class="brn btn-primary form-control" onclick="$('#myDropdown').toggle('show');">Done</button>-->
                              <div id="myDropdown" class="dropdown-content">
                                  <input class="form-control" type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                                  <a *ngFor="let group of groupFromServer" >
                                  <input class="checkbox" (click)="onSelectedGroup(group)" type="checkbox"  name="agreement">
                                  {{group.group_name}}</a>
                              </div>
                              <div id="selected-employees">
                                <h5 *ngIf="selectedGroupsToAdd">Selected Groups</h5>
                                   <a *ngFor="let group of selectedGroupsToAdd" >
                                  <input class="checkbox" (click)="onSelectedGroup(group)" type="checkbox"  name="agreement">
                                  {{group.group_name}}</a>

                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Done</button>
<!--                              <button class="btn btn-danger" (click)="addGroupWithUsers()">Done</button>-->

                            </div>
                          </div>
                        </div>
                      </div>


         </div>


        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
