 /*#sidebar-container {
    position: fixed;
    width: 220px;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: white;
    color:#908c8c;
    box-shadow: 5px 5px 8px 5px #888888;
}

.sidebar-navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;

}

.sidebar-navigation .header {
    font-size: 12px;
    text-transform: uppercase;
    background-color: #151515;
    padding: 10px 15px 10px 30px;
}

.sidebar-navigation li {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 20px;
}
.sidebar-navigation li a {
    padding: 10px 15px 10px 30px;
    display: block;
    color:#908c8c;
} */




.sidebar-container {
    /*
    width: 220px;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: white;
    color:#908c8c; */
    height: 90vh;
    margin: 0px !important;
    margin-top: 2px !important;
    box-shadow: 2px 2px 10px 1px #e2e2e2;

}
.fa-fw {
    width: 1.28571429em !important;
    line-height: 1.5;

}
