/* Dropdown Button */
.dropbtn {
  margin-left: 5px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color:#383b38;
  color: white;
}

/* The search field */
#myInput {
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */


/* Dropdown Content (Hidden by Default) */
.dropdown-content {

  position: absolute;
  background-color: white;
  width: 100%;
  border: 1px solid #ddd;
  z-index: 1;
  margin-left:0px!important;
  overflow-y:auto;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Links inside the dropdown */
#selected-employees a, #added-employees a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
li {
  margin-bottom: 5px;
}


.table td, .table th {
    padding: .50rem;
    vertical-align: middle !important;
    border-top: 1px solid #dee2e6;
}
.product-pagination{
position: absolute;
bottom:0px !important;
right:5%;
}
.pagination-next{
  align-items: right !important;
}

input[type="text"] {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid gray;
  border-radius: 0px;
}
label{

}
.list-group-item{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0,0,0,.125);
}
li{
  margin-bottom: 0px!important;
  padding-top: 0px!important;
  padding-bottom: 0px!important;
}
input[type="text"],input[type="password"] {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid gray;
  border-radius: 0px;
}
.group-list div:hover,.group-list div:focus{
background-color: gray;
  cursor: pointer;
  color: #bb0117;
}
.group-list div i{
color: gray;
}
.group-list div:hover i,.group-list div:focus i,.group-list div:hover .member-label{
color: white;
}
